<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
/>

<main class='container'>
  <h3>Your interview "{{title}}" is done!</h3>
  <p class='flow-text'>Click the link below to see it's details.</p>
  <a class='flow-text' href='{{link}}'></a>Click me!</a>
</main>