<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
/>

<main class='container'>
  <h3>Reset your password</h3>
  <p class='flow-text'>Click the link below to reset your password.</p>
  {{! <a class='flow-text' href='#'>Click me!</a> }}
  <form method='post' action='{{link}}'>
    <input type='hidden' name='token' value='{{token}}' />
    <input type='submit' value='Click me' class='btn' />
  </form>
</main>