<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
/>

<main class='container'>
  <h3>Welcome to decision making service!</h3>
  <p class='flow-text'>Click the button below to activate your account.</p>
  <form action='PATCH' method='{{link}}'>
    <input type='submit' value='Click me' class='btn' />
  </form>
</main>